span .yellow{
    color: #F3B700;
}

div.wrapper {
    display: flex;
}

/* Dashboard */

section.dashboard {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    background-color: #f1f1f1;
}

/* Graphics */

section.dashboard div.cont_graphics {
    display: flex;
    width: 100%;
    /* background-color: aqua; */
}

section.dashboard div.cont_graphics div.container {
    width: 100%;
    padding: 30px;
    display: flex;
    /* background-color: blue; */
}

/* part do grafico de uso da CPU */

section.dashboard div.cont_graphics div.container div.use_cpu {
    width: 50%;
    padding: 30px;
    margin-right: 50px;
    border-radius: 10px;
    border: 1px solid rgba(60, 60, 60, 0.2);
    background-color: var(--white);
}

section.dashboard div.cont_graphics div.container div.use_cpu div.container {
    padding: 0;
    display: block;
    background-color: transparent;
}

section.dashboard div.cont_graphics div.container div.use_cpu div.container div.title {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: turquoise; */
}

section.dashboard div.cont_graphics div.container div.use_cpu div.container div.title p {
    font-size: 22px;
}

section.dashboard div.cont_graphics div.container div.use_cpu div.container div.title p span { 
    font-size: 22px;
    font-weight: normal;
    color: var(--yellow);
}

section.dashboard div.cont_graphics div.container div.use_cpu div.container div.title span {
    font-size: 14px;
    font-weight: bold;
    color: var(--grey);
}

section.dashboard div.cont_graphics div.container div.use_cpu div.container div.title div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

section.dashboard div.cont_graphics div.container div.use_cpu div.container div.title div span#hostname {
    font-size: 14px;
    font-weight: normal;
}

section.dashboard div.cont_graphics div.container div.use_cpu div.container div.graphic {
    width: 100%;
    height: 350px;
    padding: 15px;
    /* background-color: violet; */
}

section.dashboard div.cont_graphics div.container div.use_cpu div.container div.use_data {
    display: flex;
    justify-content: space-evenly;
    /* background-color: yellow; */
}

/* section.dashboard div.cont_graphics div.container div.use_cpu div.container div.use_data div.data {
    background-color: blueviolet;
} */


section.dashboard div.cont_graphics div.container div.use_cpu div.container div.use_data div.data p {
    font-size: 18px;
}

section.dashboard div.cont_graphics div.container div.use_cpu div.container div.use_data div.data p span {
    font-size: 18px;
    color: var(--yellow);
}

section.dashboard div.cont_graphics div.container div.use_cpu div.container div.use_data div.data span {
    font-size: 22px;
}


/* part do grafico do segundo grafico */

section.dashboard div.cont_graphics div.container div.use_disco_memoria {
    width: 50%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid rgba(60, 60, 60, 0.2);
    background-color: var(--white);
}

section.dashboard div.cont_graphics div.container div.use_disco_memoria div.container {
    display: flex;
}

section.dashboard div.cont_graphics div.container div.use_disco_memoria div.container div.title {
    padding: 15px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    /* background-color: turquoise; */
}

section.dashboard div.cont_graphics div.container div.use_disco_memoria div.container div.title p {
    font-size: 22px;
}

section.dashboard div.cont_graphics div.container div.use_disco_memoria div.container div.title  p span { 
    font-size: 22px;
    font-weight: normal;
    color: var(--yellow);
}

section.dashboard div.cont_graphics div.container div.use_disco_memoria div.container div.title  span {
    font-size: 14px;
    font-weight: bold;
    color: var(--grey);
}

section.dashboard div.cont_graphics div.container div.use_disco_memoria div.container div.cont_disc{
    width: 50%;
    display: block;
}

section.dashboard div.cont_graphics div.container div.use_disco_memoria div.container div.cont_memory{
    width: 50%;
    display: block;
}

section.dashboard div.cont_graphics div.container div.use_disco_memoria div.container div.graphic {
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: chocolate; */
}

section.dashboard div.cont_graphics div.container div.use_disco_memoria div.container div.graphic div.graphic_disc {
    width: 70%;
    /* background-color: turquoise; */
}

section.dashboard div.cont_graphics div.container div.use_disco_memoria div.container div.graphic div.graphic_memory {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: yellow; */
}

section.dashboard div.cont_graphics div.container div.use_disco_memoria div.container div.use_data {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

section.dashboard div.cont_graphics div.container div.use_disco_memoria div.container div.use_data div.data p {
    font-size: 18px;
}

section.dashboard div.cont_graphics div.container div.use_disco_memoria div.container div.use_data div.data p span {
    font-size: 18px;
    color: var(--yellow);
}

section.dashboard div.cont_graphics div.container div.use_disco_memoria div.container div.use_data div.data span {
    font-size: 22px;
}

@media (max-width: 1366px){
    section.dashboard div.cont_graphics div.container div.use_disco_memoria div.container div.graphic{
        height: 10%;
    }
    section.dashboard div.cont_graphics div.container div.use_cpu div.container div.graphic { 
        height: 10%;
    }
   
  
    section.dashboard div.cont_graphics div.container div.use_cpu div.container div.use_data div.data p {
    font-size: 15px;
    }

    section.dashboard div.cont_graphics div.container div.use_cpu div.container div.use_data div.data p span {
    font-size: 15px;
    color: var(--yellow);
    }

    section.dashboard div.cont_graphics div.container div.use_cpu div.container div.use_data div.data span {
    font-size: 16px;
    }

    /* segundo grafico*/
    section.dashboard div.cont_graphics div.container div.use_disco_memoria div.container div.use_data div.data p {
        font-size: 15px;
    }
    
    section.dashboard div.cont_graphics div.container div.use_disco_memoria div.container div.use_data div.data p span {
        font-size: 15px;
        color: var(--yellow);
    }
    
    section.dashboard div.cont_graphics div.container div.use_disco_memoria div.container div.use_data div.data span {
        font-size: 16px;
    }

    section.dashboard div.cont_graphics div.container div.use_disco_memoria div.container div.cont_memory{
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    section.dashboard div.cont_graphics div.container div.use_disco_memoria div.container div.cont_disc{
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-between;
    }
    
}
@keyframes rotacao{

    to{
        transform: rotate(360deg);
    }  
    
}
#rotacao{
    animation-name: rotacao;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* Modal */
#realiza_relatorio{
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    display: none;
}
#realiza_relatorio:target{
    display: block;
}
#realiza_relatorio:target ~ .FinalizarRelatorio{
    top: 25%;
    transition: all .9s;
    transition-delay: .4s;
}
.FinalizarRelatorio{
    width: 550px;
    height: 335px;
    position: absolute;
    margin-left: -275px;
    left: 50%;
    top: -410px;
    background-color: #fff;
    border-radius:10px;
}
.divRelatarDanos{
    margin: 50px;
    width: 85%;
}
#close{
    color: rgb(124, 121, 121);
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: -240px;
    margin-right: 15px;
    right: 0;
}
#close:hover{
    color: rgb(0, 0, 0);
    font-size: 21px;
}

.div_contendoDuasDiv{
    display: flex;
    width: 100%;
}
.dados-r{
    width: 49%;
    height: 170px;
    margin-top: 30px;
}
.dados{
    display: inline-block;
    margin: 15px;
}

.dados span{
    color: #555;
}

.selecionar_pro{
    width: 50%;
    padding: 45px;
}

.btn_iniciar{
    height: 30px;
    width: 90px;
    margin-top: -10px;
    margin-right: 35px;
    float: right;
    border-radius: 3px;
    border: none;
    background-color: rgb(5, 148, 12);
    color: #fff;
}
.btn_iniciar:hover{
    background-color: rgb(5, 148, 12, .8);
}

select{
    width: 160px;
    height: 30px;
    border: 1px solid gray;
    outline: none;
    border-radius: 5px;
}

#img_close{
    width: 24px;
}
